ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  box-sizing: border-box;
}

.site-header {
  padding-top: 37px;
  background: #171717;
}

.site-main {
  padding-top: 89px;
  padding-bottom: 239px;
  background: #171717;
}

.container {
  width: 1460px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.logo-image {
  width: 357px;
  height: 79px;
}

.call {
  display: flex;
  border: 1px solid #e4b564;
  padding: 10px 11px 10px 25px;
  align-items: center;
}

.button-text {
  color: #e4b564;
  font-family: Ballet, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  margin-left: 8px;
}

.about-us {
  padding-bottom: 191px;
}

.site-title {
  color: #fff;
  font-family: Gilam;
  font-size: 50px;
  font-weight: 700;
  line-height: 0.56;
}

.title-network {
  margin-bottom: 43px;
}

.about-us-text {
  color: #fff;
  font-family: Gilam;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 41px;
  width: 1182px;
}

.wrapper-network {
  display: grid;
  grid-template-columns: 467px 220px 220px 467px;
  grid-template-rows: repeat(2, 468px);
  grid-template-areas:
    "item1 item2 item2 item3"
    "item4 item4 item5 item5";
  gap: 27px;
}

.item_network {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Gilam;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
}

.item_network1 {
  grid-area: item1;
  background: #634f2c;
}

.item_network2 {
  grid-area: item2;
  background: #b4a385;
}

.item_network2-text {
  width: 380px;
}

.item_network3 {
  grid-area: item3;
  background: #e4b564;
}

.item_network4 {
  grid-area: item4;
  background: #635a4a;
}

.item_network5 {
  grid-area: item5;
  background: #b08c4d;
}

.title-technique {
  margin-top: 161px;
  margin-bottom: 94px;
}

.wrapper-technique {
  display: grid;
  grid-template-columns: repeat(3, 467px);
  grid-template-rows: 255px 28px 96px 129px 277px;
  grid-template-areas:
    "item1 item2 item3"
    "item1 item2 item6"
    "item4 item2 item6"
    "item4 item5 item6"
    "item4 item5 item7";
  gap: 30px;
}

.item_technique {
  color: #fff;
  font-family: Gilam;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.item_technique-text {
  width: 302px;
}

.kamaz {
  font-weight: 700;
}

.item_technique1 {
  grid-area: item1;
  background: #0e0e0e;
  padding-top: 44px;
  padding-left: 52px;
}

.item_technique2 {
  grid-area: item2;
  background: #242424;
  padding-top: 44px;
  padding-left: 51px;
}

.item_technique3 {
  grid-area: item3;
  background: #1f1f1f;
  padding-top: 44px;
  padding-left: 48px;
}

.item_technique4 {
  grid-area: item4;
  background: #1f1f1f;
  padding-top: 56px;
  padding-left: 52px;
}

.item_technique5 {
  grid-area: item5;
  background: #e4b564;
  padding-top: 47px;
  padding-left: 52px;
}

.item_technique5-text {
  color: #000;
}

.item_technique6 {
  grid-area: item6;
  background: #0e0e0e;
  padding-top: 44px;
  padding-left: 48px;
}

.item_technique7 {
  grid-area: item7;
  background: #0a0909;
  padding-top: 44px;
  padding-left: 48px;
}

.clients {
  background: #0e0e0e;
  padding-top: 172px;
}

.clients-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}

.project-button {
  background: #0e0e0e;
  border: 1px solid #e4b564;
  padding: 10px 39px 10px 40px;
}

.wrapper-clients {
  display: grid;
  grid-template-columns: repeat(3, 487px);
  grid-template-rows: repeat(2, 391px);
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
}

.item_clients {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item_clients1 {
  grid-area: item1;
  background: #634f2c;
}

.item_clients2 {
  grid-area: item2;
  background: rgba(232, 210, 171, 0.76);
  padding: 61px 80px;
  flex-direction: column;
}

.item_clients3 {
  grid-area: item3;
  background: #e4b564;
}

.item_clients4 {
  grid-area: item4;
  background: #635a4a;
  flex-direction: column;
}

.item_clients5 {
  grid-area: item5;
  background: #b08c4d;
}

.item_clients6 {
  grid-area: item6;
  background: #634f2c;
}

.clients-logo-image {
  width: 185px;
  height: 49px;
}

.emblem-logo-image {
  width: 62px;
  height: 55px;
}

.emblem-logo-indent {
  margin-bottom: 12px;
}

.logo-indent {
  margin-bottom: 9px;
}

.emblem-indent {
  margin-bottom: 2px;
}

.client-address {
  color: #fff;
  font-family: Gilam;
  font-size: 22px;
  font-weight: 500;
  line-height: 127.3%;
  text-align: center;
}

.setgroup-logo-image {
  width: 119px;
  height: 53px;
}
